.structure {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: black;
    background-color: #E3E3E3;
    margin-inline: 40%;
    border-radius: 20px;
}

.sidebar {
    position: absolute;
}